<div class="aside-item">
    <fieldset>
        <legend>
            currently
        </legend>
        <div>
            <h3>Reading:</h3>
            <ul>
                <li><i>The Count of Monte Cristo</i> by Alexandre Dumas</li>
                <br>
                <li><i>Moby Dick (again)</i> by Herman Melville</li>
                <br>
                <li><i>Utopia</i> by Thomas More</li>
            </ul>
            <br>
            <h3>Listening to:</h3>
            <ul>
                <li>FORAGER<i> - Even a Child Can Cover the Sun with a Finger</i></li>
                <a href="https://foragertheband.bandcamp.com/album/even-a-child-can-cover-the-sun-with-a-finger">check it out</a>
                <br>
                <li>static.grl - <i>GO UNTIL YOU ARE GONE 2013.04-07</i></li>
                <a href="https://staticgrl.bandcamp.com/album/go-until-you-are-gone-201304-07">check it out</a>
            </ul>
            <br>
            <h3>Playing:</h3>
            <ul>
                <li><i>Persona 4: Golden</i></li>
            </ul>
        </div>
    </fieldset>
</div>
