<div class="aside-item">
    <fieldset>
        <legend>
            currently
        </legend>
        <div>
            <h3>Reading:</h3>
            <ul>
                <li><i>Journey to the Center of the Earth</i> by Jules Verne</li>
                <br>
                <li><i>They Say, I Say</i> by Gerald Graff Cathy Birkenstein</li>
                <br>
                <li><i>Imagined Communities</i> by Benedict Anderson</li>
                <br>
                <li><i>Extremely Online</i> by Taylor Lorenz</li>
                <br>
            </ul>
            <br>
            <h3>Listening to:</h3>
            <ul>
                <li>Oklou - <i>Choke Enough</i></li>
            </ul>
        </div>
    </fieldset>
</div>
