<div class="aside-item">
    <fieldset>
        <legend>
            currently
        </legend>
        <div>
            <h3>Reading:</h3>
            <ul>
                <li><i>Moby Dick (again)</i> by Herman Melville</li>
                <br>
                <li><i>They Say, I Say</i> by Gerald Graff & Cathy Birkenstein</li>
                <br>
                <li><i>Imagined Communities</i> by Benedict Anderson</li>
            </ul>
            <br>
            <h3>Listening to:</h3>
            <ul>
                <li>static.grl - <i>GO UNTIL YOU ARE GONE 2013.04-07</i></li>
                <a href="https://staticgrl.bandcamp.com/album/go-until-you-are-gone-201304-07">check it out</a>
                <br>
                <li>The Pillows - <i>Little Busters</i></li>
                <br>
                <li>The Breeders- <i>Last Splash</i></li>
            </ul>
            <br>
            <h3>Playing:</h3>
            <ul>
                <li><i>Spyro: Reignited Trilogy</i></li>
                <br>
                <li><i>Dark Souls: Remastered</i></li>
            </ul>
        </div>
    </fieldset>
</div>
